* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica;
	background: #eee;
	-webkit-font-smoothing: antialiased;
}

hgroup {
	text-align: center;
	margin-top: 4em;
}

h1,
h3 {
	font-weight: 300;
}

h1 {
	color: #636363;
}

h3 {
	color: #4a89dc;
}

form {
	width: 380px;
	margin: 4em auto;
	padding: 3em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

input:focus {
	outline: none;
}

.full-width {
	width: 100%;
}


/* Button modifiers */

.buttonBlue {
	background: #4a89dc;
	text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
	margin-top: 25px;
	font-size: 20px;
	padding: 10px 0px;
}

.buttonBlue:hover {
	background: #357bd8;
}